.wrapper {
  margin-left: 30%;
  margin-right: 30%;
}
.header {
  text-align: center;
  padding-top: 5px;
}
.buttn {
  text-align: center;
}

@media (max-width: 720px) {
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* @media (max-width: 720px) {
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
} */
